.nav-menu {
  .nav-item {
    margin: 0 10px;
    transition: 0.3s;
    i {
      display: block;
      text-align: center;
      font-size: 28px;
      opacity: 0.6;
    }
    &:hover {
      background-color: #eee;
    }
    &:hover > .nav-link > i {
      opacity: 1;
    }
  }
}

main .sidebar .active {
  background-color: none;
  color: #dc3545;
}
